:root {
  --row: 0;
  --col: 0;
  --borderRadius: 10px;
}

body {
  text-align: center;
  background: linear-gradient(to bottom right, white, rgb(79, 191, 255));
  background-repeat: no-repeat;
  padding-bottom: 50px;
  font-family: sans-serif;
}

#container {
  background: white;
  margin: 0 auto;
  display: grid;
  grid-template: repeat(var(--row), 1fr) / repeat(var(--col), 1fr);
  border-radius: var(--borderRadius);
  box-shadow: 0 0 20px 1px gray;
}

#buttons-group {
  padding: 5px 0;
  margin: 10px 0;
}

#buttons-group button {
  margin: 0 5px;
  padding: 0 10px;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  border-radius: 4px;
  transition: all 50ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

#buttons-group button:focus {
  outline: none;
}

#random-button {
  background: linear-gradient(to bottom right, red,orange,yellow,green,blue,indigo,violet);
  color: white;
  text-shadow: 0 0 2px #000000;
}

#black-button {
  background: black;
  color: white;
}